@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --primary-color: #6584F1;
}

body {
  font-family: "Inria Serif", serif;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 65%;
  padding: 40px;
  border-radius: .5rem;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}