@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000;
    --white: #fff;
    --primary-color: #6584F1;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inria Serif", serif;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  @apply w-[90%] lg:w-[70%] xl:w-[55%] p-5 mx-auto rounded-xl md:px-8;
}

.title {
  @apply text-xl font-bold  mb-5;
}